body{
    font-family: sans-serif;
}

header{
    background-color: rgb(39, 111, 152); /*#186CA3*/
    height: 8%;
    padding: 2%;
    padding-left: 10px;
    color: aliceblue;
    font-size: larger;
    font-family: sans-serif;
}

.content{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
 /* height :100vh; */
    /* flex-direction: row; */

  
}

.menu{
    /* display: flex; */
    /* height: 100% ; */
    width: 20%;
    background-color: slategrey;   
    height: 100vh;
    color: #fff;
    padding: 1% 5%;
    

}
.menu-list{
 border-bottom: #fff  solid 3px;
}

#card-li{
    padding: 2%;
    border-bottom: #fff  dashed 1.5px;
}
#menu-li{
    padding-top: 40px;
    border-bottom: #fff  solid 1.5px;
}


.board-container{
    /* display: flex; */
    /*flex-direction: column;*//*bug -> caused button to shift on new line/**/
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start;/*bug*/
    width: 80%;
    height: 100vh;
    color: rgb(36, 31, 31);
    padding: 1%;
    background-color: aliceblue;
    align-content: space-around;
    border : 1px solid black;
    margin: 2px;
}

.input-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#searchBoard{
    display: inline;
    color: black;
    background-color:#fff;
    border: 2px solid;
    padding: 1%;
    max-width: 75%;
    min-width: 400px;
    

}
#add-board-btn{
    display: inline;
    color: #fff;
    background-color: rgb(38, 174, 38);
    border: 0;
    padding: 1%;
    max-width: 80px;
    position:sticky;
}

section{
    border : 1px solid black;

}
.board-block{
    display: none;
    margin-top: 3%;
}

.project-card{
    background-color: grey;
    padding:2%;
    border-radius:5px;
    margin:10px 0;
    color: white;
    width: 30%;
 }
 .project-block{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 @media (max-width: 400px){
    .project-card{
        width:45%;
    }
 }

#removeCardBtn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    padding: 5px;
 } 